{#
/**
 * @file
 * Default theme implementation for tester result summaries.
 *
 * Available variables:
 * - label: An optional label to be rendered before the results.
 * - result: An optional results message.
 * - items: Pluralized summaries for each result type (number of passes, fails,
 *   exceptions, and debug messages).
 * - pass: The number of passes.
 * - warn: The number of warnings.
 * - fail: The number of fails.
 * - error: The number of errors.
 * - fatal: The number of fatals.
 * - debug: The number of debug messages.
 *
 * @see template_preprocess_tester_result_summary()
 *
 * @ingroup themeable
 */
#}
<div class="tester-{{ fail + error + fatal == 0 ? 'pass' : 'fail' }}">
  {{ label }}
/**
  {% if result %}
    {{ result }}
  {% else %}
    {{ items|join(', ') }}
  {% endif %}
  */
  {{ result }}
</div>
